body {
    font-family: 'Inter', Cabin;

}

.header {
    display: flex;
    padding: 40px 52px;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;

}

.container {
    width: 1296px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;     
    justify-content: space-between;        
    align-items: center;           
}


.pricing-card-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.pricing-card-list li {
    width: 416px;
}

.pricing-title-wrapper {
    text-align: center;
}



.header-logo-container {
    display: flex;
    align-items: center;
}

.header-logo-container img {
    width: 40px;
    height: 40px;
    margin-right: 18px;

}

.header-navigation-menu ul {
    display: flex;
    gap: 56px;
    text-decoration: none;
}

.header-navigation-menu a {
    color: #0E0F13;
    font-size: 20px;
    text-decoration: none;

}

.header-navigation-menu a.active {
    color: #425DF8;
}


.button-container {
    display: flex;
    gap: 10px;
    text-decoration: none;

}

.sign-in-button {
    font-size: 18px;
    padding: 18px 22px;
    background-color: #ffffff;
    color: #0E0F13;
    border: none;
    cursor: pointer;
    border-radius: 8%;
    border: 1px solid #DADADA
}

.sign-in-button:hover,
.sign-in-button:focus {
    background-color: #DADADA;
 
    border-color: #DADADA;

}

.sign-up-button {
    font-size: 18px;
    padding: 18px 22px;
    background-color: #425DF8;
    color: #F6FDFF;
    border: none;
    cursor: pointer;
    border-radius: 8%;
}

.sign-up-button:hover,
.sign-up-button:focus {
    background-color: #ffffff;
    color: #425DF8;
    border: 1px solid#425DF8;

}


.sign-in-button,
.sign-up-button {
    font-family: Cabin;
}



/* .pricing-section {
    text-align: center;
    padding: 157px;
} */

.pricing-section h1 {
    font-size: 64px;
    margin-bottom: 24px;
}


.text-lorem {
    color: #7F828A;
text-align: center;

font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 27.5px */

}


.pricing-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3%;
    padding: 56px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
width: 416px;
margin-top: 28px;
   
   

}

.pricing-card-focus {
    height: 817px;
    background-color:#161A34;
    border: 1px solid #ddd;
    border-radius: 3%;
    padding: 56px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 416px;

   
    color: #ffffff;
}

.pricing-card h2 {
    font-size: 64px;
    padding: 27px;
}


.price {
    display: flex;
    align-items: center;
    justify-content: center;
    

}





.list {
    list-style-type: none;
    padding: 17px;
}

.advantages {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 500px;
}

.get-started-button {
    display: inline-block;
    padding: 10px 22px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.get-started-button:hover {
    background-color: #0056b3;
}

.black-card {
    color: #F6FDFF;
    background-color: #161A34;
    border-radius: 1%;
    padding: 56px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 56px auto;
    max-width: 416px;
}

.black-card h2 {
    color: #F6FDFF;
    font-size: 64px;
    margin-bottom: 24px;
}

.black-card p {
    color: #F6FDFF;
    font-size: 22px;
    margin-bottom: 120px;
     padding: 27px;
}

.footer {
    margin-top: 196px;

    border-top: 1px solid #0E0F13;
 
}
.footer-container {
    padding: 16px 0;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.footer-logo-wrapper {
    display: flex;
    gap: 26px;
    align-items: center;
  
}
.card-title {
    color: #0E0F15;
text-align: center;
font-family: Cabin;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 125%;
}
.card-list {
    color: #F6FDFF;
text-align: center;
font-family: Cabin;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 37.5px */
}
.card-text {
    color: #ffffff;
    margin-bottom: 27px;
    
    max-width: 290px;
    text-align: center;
    font-size: 22px;
    color: #F6FDFF;
    text-align: center;
    font-family: Cabin;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: inline-block;
}





.card-title-pro {
color: #F6FDFF;
text-align: center;
font-family: Cabin;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 125%;
margin-bottom: 27px;

}

.card-price-text {
    color: #F6FDFF;
font-size: 64px;
padding: 27px;
font-weight: 500;
line-height: 125%; /* 80px */
letter-spacing: -2.56px;
}

.price-span-pro {
    margin-left: 16px;


    color: #F6FDFF;


font-size: 22px;

font-weight: 400;
line-height: 100%; /* 22px */
text-transform: uppercase;
}
.pro-price-text {
    color: #0E0F15;
    padding: 27px;
text-align: right;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 80px */
letter-spacing: -2.56px;
}
.title-pro-one {
    color: #7F828A;
    margin-bottom: 27px;
    max-width: 290px;
    text-align: center;
    font-size: 22px;
    color: #7F828A;
    text-align: center;
    font-family: Cabin;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: inline-block;
}
.pro-priced{
    color: #7F828A;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 22px */
    text-transform: uppercase;
}


.card-list-descr {
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 97px;
    
}


.card-list-descr li {
    display: flex;
    gap: 16px;
    align-items: center
}
.retreat {
    display: inline-flex;
flex-direction: column;
align-items: center;
gap: 120px;
margin-bottom: 120px;
color: #7F828A;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 22px */
}
.customize-top {
    color: #0E0F15;
text-align: right;
font-family: Cabin;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 80px */
letter-spacing: -1.28px;
padding: 27px;
}
.pro-item-text {
    color: #F6FDFF;
font-family: Cabin;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 27.5px */
text-transform: capitalize;
}
.text-decuration{
    color: #7F828A;
font-family: Cabin;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 27.5px */
text-transform: capitalize;

}